body {
  margin:0px;
}

#menu-border {
  background: rgb(255, 255, 255);
  position: relative;
  width:100%;
  border-top: 1px solid rgb(219, 219, 219);
  border-bottom: 1px solid rgb(219, 219, 219);
  padding:0px;
  margin:0px;
}

#filter-listing-title {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
  color: #484848 ;
  box-sizing: border-box;
  padding-left: 72px;
  padding-top: 15px;
  display: flex;
  width:100%;
  align-self: flex-start;
  margin: 0px;
  font-size: 1.5em;
  font-weight: bold;
}

.menu {
  /* background: rgb(255, 255, 255);
  position: relative;
  width:100%; */
  /* border: 1px solid rgb(219, 219, 219); */
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-left: 66px;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bedroomNum{
  word-wrap: break-word ;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
  font-size: 12px ;
  line-height: 16px ;
  letter-spacing: normal ;
  padding-top: 0px ;
  padding-bottom: 0px ;
  font-weight: 800 ;
  color:rgb(155, 49, 67);
  margin-left: auto;
  margin-right: auto;
}

.roomName {
  word-wrap: break-word ;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
  font-size: 16px ;
  line-height: 22px ;
  padding-top: 0px ;
  padding-bottom: 0px ;
  color: rgb(72, 72, 72) ;
  font-weight: 800 ;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
}

.price {
  word-wrap: break-word ;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
  font-size: 14px ;
  line-height: 18px ;
  letter-spacing: normal ;
  padding-top: 0px ;
  padding-bottom: 0px ;
  color: #484848 ;
  font-weight: normal ;
  margin-left: auto;
  margin-right: auto;
}

.rating {
  font-weight: 600 ;
  margin: 0px ;
  word-wrap: break-word ;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
  font-size: 10px ;
  line-height: 16px ;
  letter-spacing: normal ;
  padding-top: 0px ;
  padding-bottom: 0px ;
  color: #484848 ;
  display: inline ;
}

.carousel-content {
  width: 90%;
  padding-top:25px;
  margin:0 auto;
  /* height:585px; */
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: center;
}

#carousel {
  display:inline-block;
  box-sizing: border-box;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.left {
  text-align: center;
  fill:rgb(118, 118, 118);
  display:block;
  height:24px;
  box-sizing: border-box;
  width:24px;
  align-content: center;
  }

.flex-center{
  display: flex;
  align-self: center;
}

.right {
  text-align: center;
  fill:rgb(118, 118, 118);
  display:block;
  height:24px;
  width:24px;
  box-sizing: border-box;
  align-content: center;
  }

.center {
  text-align: center;
  margin: auto;
  align-content: center;
}

#room-carousel {
  width:100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.image-slide {
  display: inline-block;
  min-width:200px;
  max-width: 33.33%;
  height: 100%;
  padding:20px;
  margin: auto;
  box-sizing: border-box;
}

.room-entry-img {
  max-width:100%;
  /* max-height:100%; */
  height: auto;
  margin: auto;
  display: block;
}


.btn-spacer {
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.content {
    position:relative;
    top: 0px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;        
}

#modal-container {
  position:absolute;
  width:100%;
  height:100%;
}

.modal-overlay-div {
    position: relative;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.85);

}

/* .modal-content-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    overflow: auto;
    text-align: center;
    padding: 4px;
} */

.modal-content-div {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 36px 2px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
  display: inline-block;
  max-height: 55vh;
  visibility: visible;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-image: initial;
  border-radius: 4px;
}

.modal-dialog-div {
  position: relative;
  outline: 0;
  /* width: 500px;
  height: 400px; */
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  max-width: auto;
  border-radius: 4px;
  background-color: white;
}

#slider-content {
  width: 300px;
  height: 100px;
  padding:24px;
}

#slider{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 275px;
}

#bedrooms-counter-content {
  width: 300px;
  height: 100px;
  padding:24px
}

.plus-minus-content {
  float:right;
  display:inline-block;
}

#home-type-selector-content {
  width: 425px;
  height: 275px;
  padding:24px
}

.checkbox-text {
  display:inline-block;
  padding: 15px;
  padding-left:18px;
  
}

.checkbox {
  -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
  position: relative;
}

.checkbox:active, .checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:focus {
  outline:0;
  border: 1px solid rgb(0, 132, 137);
}

.checkbox:checked {
	background-color: rgb(0, 132, 137);
	border: 1px solid rgb(0, 132, 137);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: white;
}

.home-type-main-text {
  font-weight: normal;
  cursor: pointer;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: rgb(72, 72, 72);
  display: inline-block;
  position: relative;
  top: -3px;
  vertical-align: top;
}

.sub-text {
  font-weight: normal;
  cursor: pointer;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  padding-top: 4px;
  padding-bottom: 0px;
  color: rgb(72, 72, 72);
  display: block;
}

.instant-book-selector-content {
  width: 500px;
  height: 100px;
  padding:24px
}

#instant-book-text {
  display:inline-block;
}
#instant-book-toggle {
  float:right
}
.main-btn {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #484848;
  background: none;
  border: 1px solid #dce0e0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  outline: none;
}

.main-btn:hover {
  background: #F2F2F2;
  border-color: #F2F2F2;
}

.filter-on-btn {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  padding-top: 6px;
  padding-bottom: 6px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  text-align: center;
  width: auto;
  border-radius: 4px;
  text-decoration: none;
  background: rgb(0, 132, 137);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 132, 137);
  border-image: initial;
  outline: none;
}

.filter-btn:hover {
  background: rgb(0, 108, 112);
  border-color: rgb(0, 108, 112);
}

.apply-btn {
  color: rgb(0, 132, 137);
  -webkit-appearance: none;
  cursor: pointer;
  user-select: auto;
  text-align: left;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  text-decoration: none;
  background: transparent;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  padding: 0px;
  position:absolute;
  bottom: 20px;
  right:24px;
}

.clear-btn {
  -webkit-appearance: none;
  cursor: pointer;
  user-select: auto;
  text-align: left;
  color: rgb(72, 72, 72);
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  text-decoration: none;
  background: transparent;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  padding: 0px;
  position:absolute;
  bottom: 20px;
  left:24px;
}

.apply-btn:hover,
.apply-btn:focus,
.clear-btn:hover,
.clear-btn:focus {
  text-decoration: underline;
}

.apply-btn:active,
.clear-btn:active {
  color: rgb(0, 108, 112);
  outline: 0px;
}

#bed-count {
  padding-left:10px;
  padding-right:10px;
}

.plus-minus-btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  position: relative;
  width: 32px;
  height: 32px;
  box-shadow: none;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(0, 132, 137);
  background: transparent;
  border-width: 1px;
  outline:none;
}

.plus-minus-btn:active {
  box-shadow: rgb(0, 132, 137) 0px 0px 2px 2px;
  outline: none;
  background: transparent;
}

.plus-minus-btn:disabled {
  cursor: default;
  border-color: rgba(0, 132, 137, 0.3);
  background: transparent;
}

.modal-text {
  word-wrap: break-word;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: rgb(72, 72, 72);
  font-weight: normal;
  margin: 0px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The toggle */
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle {
  background-color: rgb(0, 132, 137);
}

input:focus + .toggle {
  box-shadow: 0 0 1px rgb(0, 132, 137);
}

input:checked + .toggle:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded toggle */
.toggle.round {
  border-radius: 34px;
}

.toggle.round:before {
  border-radius: 50%;
}

.room-entry-img:hover {
  /* -webkit-box-shadow: 3px 3px 5px 6px #ccc;  Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  Firefox 3.5 - 3.6 */
  box-shadow: inset 3px 3px 5px 6px #ccc;
  /* z-index: -10; */
}