.bedroomNum{
  word-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 12px !important;
  line-height: 16px !important;
  letter-spacing: normal !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-weight: 800 !important;
  color:rgb(155, 49, 67);
  margin-left: auto;
  margin-right: auto;
}

.roomName {
  word-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 16px !important;
  line-height: 22px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: rgb(72, 72, 72) !important;
  font-weight: 800 !important;
  margin-left: auto;
  margin-right: auto;
}

.price {
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 14px !important;
  line-height: 18px !important;
  letter-spacing: normal !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #484848 !important;
  font-weight: normal !important;
  margin-left: auto;
  margin-right: auto;
}

.carousel {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.left {
  vertical-align: middle;
  text-align: center;
  width: 5%;
  height: 585px;
  float: left;
}

.right {
  vertical-align: middle;
  text-align: center;
  width: 5%;
  height: 585px;
  float: right;
}

#room-carousel {
  width:90%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap
}

.image-slide {
  display: inline-block;
  width: 33%;
  padding:10px;
  box-sizing: border-box;
}

.roomEntryImg {
  width: 100%;
  display: inline-block;
}